.link{
    margin: 2vw;
}

.navbar{
    display: flex;
    justify-content: flex-start !important;
    background-color: #D3FAD6;
}

main{
    background-color: black;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    height: 79.5vh;
    padding-top: 15vw;
}

footer{
    background-color: black;
    display: flex;
    justify-content: center;
}

span{
    color:  white;
}

.spacer{
    margin-left: 20vw;
    margin-right: 20vw;
}

th, 
td{
    color: white;
}
